@using Aspose.Cells.Common.Config
@model Aspose.Cells.Common.Models.ViewModel

<div class="container-fluid asposetools" ng-app="AsposeCellsAssemblyApp" ng-cloak ng-controller="Main">
    <div class="container">
        <div class="row">
			<div class="col-md-12">

				<h1 id="ProductTitle">@Model.Title</h1>
				<h2 id="ProductTitleSub">@Model.TitleSub</h2>

				<div id="WorkPlaceHolder">
					<form id="UploadFile" name="UploadFile" method="POST" enctype="multipart/form-data">
						@if (false)@*Configuration.IsAsposeCloudApp*@
						{
							<div>
								<h2 id="CloudAppTitleSub">
									Use the following Aspose.Cells Cloud APIs to implement this App. Related
									<a class="text-dark" href="@Configuration.CellsCloudAPIMethodDocument" target="_blank" style="color: #333333; font-weight: 700">
										online documents.
									</a>
								</h2>
								<table class="table table-condensed  center-block" style="width:65% ">
									<tbody style="background: white;">
										@foreach (var cellsCloudAPIDef in Model.CellsCloudAPIDefs)
										{
											<tr>
												<td class="language-html text-left" title="@cellsCloudAPIDef.ApiName" style="text-overflow:ellipsis;width:300px">@cellsCloudAPIDef.ApiName</td>
												<td class="language-html text-left" title="@cellsCloudAPIDef.ApiUri" style="text-overflow:ellipsis;width:75%">
													<a href="@cellsCloudAPIDef.ApiReferenceUri" target="_blank" style="color: #333333">
														@cellsCloudAPIDef.ApiUri
													</a>
												</td>
											</tr>

										}
									</tbody>
								</table>
							</div>
						}
						<div class="terms-area">
							<span>*By uploading your files or using our service you agree with our </span>
							<a href="https://about.aspose.app/legal/tos" target="_blank">Terms of Service</a>
							<span> and </span>
							<a href="https://about.aspose.app/legal/privacy-policy" target="_blank">Privacy Policy</a>
							<span>.</span>
						</div>
						<div class="form-inline">
							<div class="color-wrapper" style="color: #FFFFFF">
								<em>Data Source Name<sup>*</sup></em> <input class="form-control" ng-model="datasourceName" id="datasourceName" type="text" placeholder="" required />
								<div ng-show="showTableIndex">
									<em class="btn">Table Index</em> <input class="form-control" ng-model="datasourceTableIndex" id="datasourceTableIndex" type="number" min="0" style="width:60px" />
								</div>
								<div ng-show="showDelimiter">
									<em class="btn">Delimiter</em>
									<div class="dropdown" style="display:inline-block" id="delimiterdropdown">
										<button type="button" class="btn dropdown-toggle" id="delimiter" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false" style="background-color:white;width:60px;border-radius:4px">
											,
										</button>
										<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="delimiter">
											<li>
												<a ng-click="setDelimiter(',')" class="dropdown-item">,</a>
											</li>
											<li>
												<a ng-click="setDelimiter(';')" class="dropdown-item">;</a>
											</li>
											<li>
												<a ng-click="setDelimiter('\t','Tab')" class="dropdown-item">Tab</a>
											</li>
											<li>
												<a ng-click="setDelimiter(' ','Space')" class="dropdown-item">Space</a>
											</li>
										</ul>
									</div>
								</div>
								<br />
							</div>
						</div>
						<br>
						<div class="col-md-12">
							<div class="convertbtn">
								<input type="button" class="btn btn-success btn-lg" ID="uploadButton" value="@Model.UploadButtonText" />
							</div>
							<div class="convertbtn">
								<a class="btn btn-success btn-lg px-5" id="showHelpTips" data-toggle="modal" data-target="#help-dialog-template">
									<i class="fa fa-info-circle">&nbsp;</i>Help
								</a>
							</div>
						</div>
					</form>
				</div>
				@if (!Model.UploadAndRedirect || Model.AppName == "Metadata")
				{
					@await Html.PartialAsync("Download")
				}
				<div id="alertPlaceHolder" class="col-md-12">
					<br />
					<p id="alertMessage" class="alert alert-danger hidden"></p>
					<p id="alertSuccess" class="alert alert-success hidden"></p>
				</div>

				<div id="loaderPlaceHolder">
					<div id="loader" class="hidden" role="status" aria-hidden="true">
						<div class="progress">
							<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 15%">15%</div>
						</div>
					</div>
				</div>



				<div class="col-md-12">
					<p id="statProcessed" class="hidden">
						We've already processed
						<span id="processedFiles"></span>
						files with total size of
						<span id="processedBytes"></span>
						Mbyte
					</p>
				</div>
			</div>
        </div>
    </div>
</div>

<div id="help-dialog-template" class="modal fade" tabindex="-1" role="dialog" style="z-index: 99999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div id="help-dialog-datasource" class="modal fade" tabindex="-1" role="dialog" style="z-index: 99999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/angular@1.7.8/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-route@1.7.8/angular-route.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-animate@1.7.8/angular-animate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-aria@1.7.8/angular-aria.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-resource@1.7.8/angular-resource.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-messages@1.7.8/angular-messages.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-material@1.1.12/angular-material.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ng-file-upload@12.2.13/dist/ng-file-upload-all.min.js"></script>

<script src="~/cells/@Model.AppName.ToLower()/content/scripts/app.js"></script>
<script src="~/cells/@Model.AppName.ToLower()/content/scripts/app.controller.main.js"></script>
<script src="~/cells/@Model.AppName.ToLower()/content/scripts/app.run.js"></script>