@using Aspose.Cells.Common.Models
@model ViewModel
@if (Model.OtherApps != null)
{
    <div id="OtherApps" class="container-fluid otherapps hidden">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h4>@Model.Resources["cellsOtherAppsTitle"]</h4>
            </div>
        </div>
        <div class="row">
            @foreach (var app in Model.OtherApps)
            {
                if (app.AppName != Model.AppName)
                {
                    <div class="col-xs-4 col-sm-5ths col-md-5ths col-lg-5ths app-icon">
                        <a href="@app.Href" title="@Model.Resources[Model.Product + app.AppName + "Desc"]" onclick="otherAppClick('@app.AppName')">
                            <div style="background-image: url('@app.ImageSource')"></div>
                            <span>@app.DisplayName</span>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
}